.book-card {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.12);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
}

.book-card:hover {
  transform: translateY(-6px);
}

/* IMAGE */
.book-image img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

/* INFO */
.book-info {
  padding: 20px;
  text-align: center;
}

.book-info h3 {
  font-size: 1.05rem;
  margin-bottom: 8px;
}

.author {
  font-size: 0.9rem;
  color: #777;
  margin-bottom: 8px;
}

.category {
  display: inline-block;
  background: #111;
  color: #fff;
  padding: 5px 12px;
  font-size: 0.75rem;
  border-radius: 20px;
  margin-bottom: 15px;
}

/* BUTTON */
.details-btn {
  width: 100%;
  padding: 10px;
  background: #e67e22;
  border: none;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  transition: 0.3s;
}

.details-btn:hover {
  background: #d35400;
}

